#divEnlever, #divEnregCircuit, #divFiche{
	position: absolute;
	top:40%;
	left:35%;
	display:none;
	margin: auto;	
	/* width: 600px; */
	/* border: 3px solid #73AD21;	 */
}

#admin, #divCircuits, #divUsagers, #divRabais{
	display:none;	
}

div.tdba{
	max-width: 600px;
	margin: auto;
	border: 3px solid #73AD21;	
}

.logo {
	width:120px;
	height:30px;
	/* margin-top:-40px; */
}

@media only screen and (max-width: 450px) {
   #divEnlever, #divEnregCircuit, #divFiche{
        top: 70%;
    }
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
   #divEnlever, #divEnregCircuit, #divFiche{
        top: 60%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
   #divEnlever, #divEnregCircuit, #divFiche{
        top: 60%;
    }
}